body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h3{
    color: rgb(235, 108, 18);
    
}

.name{
    color:goldenrod;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 2%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 500px;
   
}

section{
    
    padding-bottom: 150px;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    border: lightsalmon;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 900s;


}

.Dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
    
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    height: 500px;
    background-position: left;
}
.single-ex{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 5px;
    height: 8o%;
    background-color: white;
}


#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;

}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(131, 122, 255),rgb(71, 227, 255));
    border-image-slice: 1;

}

footer p{
    text-align: center;
}